@import "fonts"
@import "skel"
@import "grid"

header-height = 90px
footer-height = 50px

html, body
	height 100%

body
	background-image url(/static/bg.png)
	background-size 50px 50px
	margin 0 gutter
	font-family "Roboto Light"
	& > *
		max-width 1400px
		width 100%
		margin 0px auto

	& > header
		border-bottom 4px #222 solid
		margin-bottom -(header-height + 4px)
		height header-height
		h1
			margin 0
			font-family "Roboto Thin Italic"
			font-size 5em
			padding-left header-height
			line-height header-height + 15px

			background-image url(/static/logo.png)
			background-repeat no-repeat
			background-size (header-height - 10px) (header-height - 10px)
			background-position left 5px
		form
			float right
			input
				height 24px
				margin (header-height/2 - 12px) 0

	& > section
		clearfix()
		box-sizing border-box
		padding-top header-height + 4px
		min-height 100%

	& > footer
		margin-top -(footer-height + 6px)
		height footer-height
		line-height footer-height
		border-top 2px #222 solid