<!doctype html>
<html>
	<head>
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="/compiled/style.css">
		<script src="/compiled/app.min.js"></script>
		<title>Gazette &#x00A4; {{title}}</title>
	</head>
	<body>
		<header>
			<h1>Gazette</h1>
			<nav>
				<ul>
					<li></li>
					<li></li>
					<li><a href=""></a></li>
					<li><a href="/login">Log in</a></li>
				</ul>
			</nav>
		</header>
		<section class="main">
			{{{body}}}
		</section>
		<footer>
			A <a href="http://blog.onehundredandfiftythree.co.uk">Matt Brennan</a> whimsy.
		</footer>
	</body>
</html>