<section class="nine columns">
	<h1>Your favourite sites, delivered daily to your Kindle.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis voluptate nemo itaque praesentium aspernatur illum ipsum ipsa ducimus similique porro dolorem omnis voluptatibus delectus quaerat minus dignissimos voluptas eum repellat.</p>
	<p>Voluptatem quo delectus quia adipisci maiores nihil iusto eaque debitis neque in est doloremque earum. Recusandae blanditiis pariatur itaque non consequatur natus expedita maiores unde tenetur ipsum incidunt voluptatem quaerat!</p>
	<p>Eveniet veritatis nihil corporis doloremque quae fugit repellat veniam ad ipsa qui dolores cum omnis quo dolorem nostrum quis rem optio ducimus adipisci impedit voluptas iusto aut nulla amet eaque!</p>
	<p>Fugit cupiditate labore tempora similique sapiente vitae ab commodi voluptatem nesciunt vel optio tenetur non a impedit odit porro asperiores esse exercitationem quia minima in nulla minus consequuntur at cumque?</p>
</section>

<section class="right three columns">
	<h2><em>Hi there!</em></h2>
	<p>We&lsquo;re in beta right now, so give us some time to straighten things out.</p>
</section>
<section class="right three columns">
	<h2><em>Hi there!</em></h2>
	<p>We&lsquo;re in beta right now, so give us some time to straighten things out.</p>
</section>